body {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    border: 0;
}

.navbar {
    height: clamp(10%, 15%, 20%);
    display: flex;    
}

.dropdown-menu {
    background-color: rgb(54, 52, 52);
    text-decoration: dashed;
}

.dropdown-menu ul:active{
    color: white;
}

.dropdown-item {
    color: white;
}

.logo-nav {
    height: clamp(10px, 35px, 50px);
    width: 200%;
    display: flex;
    justify-self: center;
    align-items: center;
}

.cadastro{
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(100px, 10%, 200px);
    height: clamp(40px, 5%, 80px);
    right: auto;
    color-interpolation-filters: unset;
    color: white;
    text-decoration: none;
    border: solid thin;
    margin-right: 1rem;
    text-align: center;
}

/* Para telas pequenas (celulares) */
