.navbar {
    height: 50px;
    display: flex;
}

.dropdown-menu{
    width: 10px;

}
div#main {
    
}

div#professor {
    
}

div#aluno {
    
}

body {
    background-color: lightgray;
}