body {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    border: 0;
}

.navbar {
    height: 50px;
    display: flex;
}

.dropdown-menu {
    background-color: rgb(54, 52, 52);
    text-decoration: dashed;
}

.dropdown-menu ul:active{
    color: white;
}

.dropdown-item {
    color: white;
}

.logo-nav {
    height: 35px;
    width: 200%;
    display: flex;
}

.cadastro{
    height: 10%;
    width: 5%; 
    right: auto;
    color-interpolation-filters: unset;
    color: white;
    text-decoration: none;
    border: solid;
    border-width: thin;
    margin-right: 1rem;
    text-align: center;
}