/* Info Div de Contato */
.info-div {
    background-color: var(--bg-dark-gray);
    border-left: 5px solid var(--primary-red);
    padding: 20px;
    border-radius: 4px;
}

.info-div span {
    color: var(--gold);
    font-weight: 900;
    text-transform: uppercase;
}

/* Tabela de Planos */
table {
    background-color: var(--bg-dark-gray);
    border: 1px solid #333;
    border-radius: 10px;
    overflow: hidden;
}

thead th {
    background-color: #111;
    color: var(--gold);
    padding: 20px !important;
    text-transform: uppercase;
    border-bottom: 2px solid var(--gold) !important;
}

.plano-destaque {
    color: var(--primary-red) !important;
    font-weight: 900;
}

.desativado {
    text-decoration: line-through;
    color: #444;
}

/* Alerta de Resultado do Calculador */
#resultado {
    border-left: 5px solid var(--gold);
    font-size: 1.1rem;
}
