.info-div {
    text-align: center;       /* centraliza o texto */
    font-size: clamp(10px, 30px, 50px);          /* aumenta o tamanho da fonte */
    font-weight: bold;        /* deixa em negrito */
    margin: 20px 0;           /* espaço acima e abaixo da div */
    color: #333;              /* cor do texto */
    background-color: #f0f0f0;/* fundo suave */
    padding: 10px;            /* espaço interno */
    border-radius: 5px;       /* cantos arredondados */
}

.desativado{
    color: rgb(143, 143, 143);
}

table {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    transform: translate(-50%, -50%);
    background-color: rgb(63, 58, 58);
    color: white;
    border: solid;
    border-collapse: separate;
    border-spacing: 15px;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
}

td, th {
    padding-right: clamp(10px, 15px, 30px);
    padding-left: clamp(10px, 15px, 30px);
    white-space: nowrap; 
}