/* Bordas e Imagens dos Mestres */
.border-gold {
    border: 3px solid var(--gold) !important;
}

.image-container img {
    transition: 0.5s ease;
}

.image-container:hover img {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(212, 175, 55, 0.2);
}

/* Links do Instagram */
.instagram-link {
    color: var(--gold);
    text-decoration: none;
    font-weight: 700;
    border-bottom: 1px solid transparent;
    transition: 0.3s;
}

.instagram-link:hover {
    color: var(--primary-red);
    border-bottom: 1px solid var(--primary-red);
}

strong {
    color: var(--gold);
}
